<!DOCTYPE html>
<html lang="en">
	<head>
	<!-- Title -->
	<title>Captain's Log</title>
	<meta charset="UTF-8">
	<meta http-equiv="Content-type" content="text/html; charset=utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />

	<!-- VENDOR -->

	<!-- jQuery -->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/1.11.3/jquery.js"></script>
	<!-- Bootstrap CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
	<!-- Bootstrap JS -->
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>

	<!-- Google Maps API -->
	<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=<% GOOGLE_MAPS_KEY %>&sensor=false&libraries=places"></script>
	
	<!-- APPLICATION -->

	<!-- Custom CSS -->
	<link rel="stylesheet" type="text/css" href="/css/main.css">
	<!-- Custom JS -->
	<script src="/js/base.js"></script>
</head>
<body>

<!-- Navigation Bar -->

<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid">
  		<a class="navbar-brand" href="#">Captain's Log</a>
   		<ul class="nav navbar-nav pull-right">
   			<li class=""><a href="/">Explore</a></li>
   		 	<li class="active"><a href="/profile">Profile</a></li>
   		 	<li class=""><a href="/map">My Map</a></li>
   		 	<li class=""><a href="#">Settings</a></li>
    	</ul>
  </div>
</nav>

<!-- User Info -->

	<div class="container">
		<div class="row">
			<div class="col-md-3">
				<img src="http://i.imgur.com/7YX8zTs.png" class="img-circle" id="profile-picture" alt="profile picture">
				<br>
				<h3>Brendan Bohn</h3>
				<h4>brendanbohn</h4>
				<p>Phasellus dignissim nibh et purus blandit facilisis. Aliquam vehicula pretium odio a venenatis. Nam rutrum lacus non ullamcorper hendrerit. Phasellus a tortor a sapien tincidunt egestas vitae faucibus metus. Vestibulum eu tempor magna. Duis cursus volutpat ligula id posuere. Vestibulum condimentum convallis lacus. Sed at lacus ac dui laoreet auctor.</p>
				<p id="user-city">San Francisco, CA</p>
			</div>
			<div class="col-md-9 text-center" id="profile-stream">
				<div class="row">
					<h2>Where did you go?</h2>
					<input type="text" class="form-control" id="autocomplete" placeholder="City, State" name="location" required>

					<!-- log a trip form -->

					<form id="trip-form">
						<!-- hidden -->
						<input type="text" class="hidden" id="trip-location" placeholder="City, State" name="location">
						<input type="hidden" id="mark-lat" name="latitude" value="">
						<input type="hidden" id="mark-lng" name="longitude" value="">

						<!-- visible -->

						<!-- first column of form -->

						<div class="col-md-6">
							<!-- date -->
							<div class="form-group">
							  <label for="inputDate">Date</label>
							  <input type="text" class="form-control" id="inputDate" placeholder="Date" name="date">
							</div>
							<!-- image -->
							<div class="form-group">
							  <label for="inputImageUrl">Image</label>
							  <input type="text" class="form-control" id="inputImageUrl" placeholder="paste a URL to your photo" name="img">
							</div>
						</div>

						<!-- second column of form -->

						<div class="col-md-6">
							<!-- description -->
							<div class="form-group">
							  <label for="inputDescription">Description</label>
							  <input type="text" class="form-control" id="inputDescription" placeholder="Share your thoughts and experiences" name="description">
							</div>
							<!-- form submit button -->
							<div class="text-right">
							  <button type="submit" class="btn btn-default">Submit</button>
							</div>
						</div>
					</form>
				</div>

<!-- Voyages -->

				<div id="tripStream">
					<% if (posts.length !== 0 ) {%>
					<% for (var i=posts.length-1; i>=0; i--) {%>
					<div class="trip-post" id="<%=posts._id%>">
					<div class='media text-left'> <div class='media-left'> <img class='media-object' src='<%=posts[i].img%>' alt='...'></div><div class='media-body'><h3 class='media-heading'><%=posts[i].location%></h3><p><%=posts[i].description%></p><p><%=posts[i].date%><button data-id="<%= posts[i]._id %> " type="button" class="close" aria-label="Close"><span aria-hidden="true">&times;</span></button></p></div></div>
					</div>
					<%}%>
					<%} else {%>
					<p class="trip-post"> No voyages have been logged yet. </p>
					<%}%>
				</div>
			</div>
		</div>
	</div>

<!-- Temporary fix to fix an error message for not having a map on my profile page -->

	<div class="modal">
		<div id="map">
		</div>
	</div>

</body>
</html>