<!DOCTYPE html>
<html lang="en">
	<!-- include head partial from ./views/_head.ejs -->
	<!-- this has all of our style and client-side script tags -->
	<% include ./_head %>
<body>

<!-- Navigation Bar -->

	<nav class="navbar navbar-default navbar-fixed-top">
	  <div class="container">
	  	<div class="navbar navbar-header">
	  		<a class="navbar-brand" href="#">Captain's Log</a>
	  	</div>
	  	<div class="">
	   		<ul class="nav navbar-nav pull-right">
	   			<li class=""><a href="/">Explore</a></li>
	   		 	<li class="active"><a href="/profile">Profile</a></li>
	   		 	<li class=""><a href="/map">My Map</a></li>
	   		 	<li class=""><a href="#">Settings</a></li>
	    	</ul>
	    </div>
	  </div>
	</nav>

<!-- User Info -->

	<div class="container">
		<div class="row">
			<div class="col-md-3">
				<img src="http://i.imgur.com/Pxbyqit.png?1" id="profile-picture" alt="profile picture">
				<br>
				<h3>Brendan Bohn</h3>
				<h4>brendanbohn</h4>
				<p>Phasellus dignissim nibh et purus blandit facilisis. Aliquam vehicula pretium odio a venenatis. Nam rutrum lacus non ullamcorper hendrerit. Phasellus a tortor a sapien tincidunt egestas vitae faucibus metus. Vestibulum eu tempor magna. Duis cursus volutpat ligula id posuere. Vestibulum condimentum convallis lacus. Sed at lacus ac dui laoreet auctor.</p>
				<p id="user-city">San Francisco, CA</p>
			</div>
			<div class="col-md-9 text-center" id="profile-stream">
				<div id="log-voyage-stream">
					<button class="btn btn-default" data-toggle="modal" data-target=".trip-form-modal-lg" type="submit">Log a voyage</button>
				</div>

<!-- Voyages -->

				<div id="tripStream">
					<% if (posts.length !== 0 ) {%>
					<% for (var i=posts.length-1; i>=0; i--) {%>
					<div class="trip-post" id="<%=posts._id%>">
					<div class='media text-left'> <div class='media-left'> <img class='media-object' src='<%=posts[i].img%>' alt='...'></div><div class='media-body'><h3 class='media-heading'><%=posts[i].location%></h3><p><%=posts[i].description%></p><p><%=posts[i].date%><a href='#'><span class='pull-right glyphicon glyphicon-pencil'></span></a></p></div></div>
					</div>
					<%}%>
					<%} else {%>
					<p class="trip-post"> No voyages have been logged yet. </p>
					<%}%>
				</div>
			</div>
		</div>
	</div>

<!-- LOGIN MODAL -->

	<div class="modal fade trip-form-modal-lg" id="trip-form-modal" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
	  <div class="modal-dialog modal-lg">
	    <div class="modal-content">
	      <form id="trip-form">
	        <div class="form-group">
	          <label for="inputCity">City, State</label>
	          <input type="text" class="form-control" id="inputCity" placeholder="City, State" name="location" required>
	        </div>
	        <div class="form-group">
	          <label for="inputDescription">Description</label>
	          <input type="text" class="form-control" id="inputDescription" placeholder="Share your thoughts and experiences" name="description">
	        </div>
	        <div class="form-group">
	          <label for="inputDate">Date</label>
	          <input type="text" class="form-control" id="inputDate" placeholder="Date" name="date">
	        </div>
	        <div class="form-group">
	          <label for="inputImageUrl">Image</label>
	          <input type="text" class="form-control" id="inputImageUrl" placeholder="paste a URL to your photo" name="img">
	        </div>
	        <div class="text-right">
	          <button type="submit" class="btn btn-default">Submit</button>
	        </div>
	      </form>
	    </div>
	  </div>
	</div>

<!-- Temporary fix to fix an error message for not having a map on my profile page -->

	<div class="modal">
		<div id="map">
		</div>
	</div>

</body>
</html>