<!DOCTYPE html>
<html lang="en">

<%- include _head.ejs %>

<body>

<!-- Navigation Bar -->

<%- include _nav.ejs %>

<!-- User Info -->

	<div class="container">
		<div class="row">

			<!-- User Info -->

			<div class="col-md-3" id="user-info">
				<img src="<%= user.img %>" class="img-circle" id="profile-picture" alt="profile picture">
				<br>
				<h3><%= user.username %></h3>
				<p><%= user.bio %></p>
				<p id="user-city"><%= user.location %></p>
			</div>

			<!-- Profile Stream -->
			<div class="col-md-9">
				<div class="row" id="profile-content">
					<div class="col-md-8 col-md-offset-2">
						<h2>Log a voyage</h2>
						<input id="searchTextField" type="text" class="form-control" placeholder="Location" name="location" required>

						<!-- log a trip form -->
	
						<form id="trip-form">

						<!-- hidden input fields -->
							<input type="text" class="hidden" id="trip-user" name="user" value="<%= user._id %>">
							<input type="text" class="hidden" id="trip-location" placeholder="City, State, Country" name="location" value="1">
							<input type="hidden" id="trip-lat" name="lat" value="1">
							<input type="hidden" id="trip-lng" name="lng" value="1">

						<!-- visible -->

							<!-- first column of form -->
							<div class="col-md-6">
								<!-- date -->
								<div class="form-group">
								  <label for="inputDate">Date</label>
								  <input type="text" class="form-control" id="inputDate" placeholder="Date" name="date">
								</div>
								<!-- image -->
								<div class="form-group">
								  <label for="inputImageUrl">Image</label>
								  <input type="text" class="form-control" id="inputImageUrl" placeholder="Paste a URL to your photo" name="img">
								</div>
							</div>
							<!-- second column of form -->
							<div class="col-md-6">
								<!-- description -->
								<div class="form-group">
								  <label for="inputDescription">Description</label>
								  <textarea type="text" class="form-control" id="inputDescription" placeholder="Share your thoughts and experiences" name="description"></textarea> 
								</div>
								<!-- form submit button -->
								<div class="text-right">
								  <button type="submit" class="btn btn-default">Submit</button>
								</div>
							</div>	
						</form>
					</div>
				</div>
				<div class="row" id="profile-content-stream">
					<div class="col-md--8 col-md-offset-2">
						<!-- Trip Stream -->

						<div id="tripStream">
							<% if (user.posts.length > 0 ) {%>
							<% for (var i=user.posts.length-1; i>=0; i--) {%>
							<div class="trip-post" id="<%=user.posts._id%>">
							<div class='media text-left'> <div class='media-left'> <img class='media-object' src='<%=user.posts[i].img%>' alt='...'></div><div class='media-body'><h3 class='media-heading'><%=user.posts[i].location%></h3><p><%=user.posts[i].description%></p><p class="date"><%=user.posts[i].date%><button data-id="<%= user.posts[i]._id %>" type="button" class="close" aria-label="Close"><span aria-hidden="true">&times;</span></button></p></div></div>
							</div>
							<%}%>
							<%} else {%>
							<!-- <p class="trip-post"> No voyages have been logged yet. </p> -->
							<%}%>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

<!-- Temporary fix to fix an error message for not having a map on my profile page -->

	<div class="modal">
		<div id="map">
		</div>
	</div>

<!-- Confirm Delete Modal -->

<div class="modal fade clear-modal-md" tabindex="-1" role="dialog" aria-labelledby="clearContentModal" id="model-clear">
  <div class="modal-dialog modal-md">
    <div class="modal-content">
      <h2>Are you sure you want to clear all posts?</h2>
      <div class="clearfix">
        <button class="btn btn-danger pull-right" id="modal-clear-button">Clear Posts</button>
        <button class="btn btn-default pull-right" id="modal-cancel-button">Cancel</button>
      </div>
    </div>
  </div>
</div>

</body>
</html>